* {
    padding: 0;
    margin: 0;
}

body {
	font-family: 'Lato', sans-serif;
	display: flex;
	/* align-items: center; */
	justify-content: center;
}

#container {
	width: 90%;
	/* height: 100vh; */
	margin: 3rem 0 3rem 0;
	max-width: 650px;
}

p {
    line-height: 130%;
    margin:.6rem 0;
}
	
#back {
    font-size: 20px;
    /* text-decoration: ; */
    color: black;
    margin: 1rem 0 0 0;
}


h2, #title {
	font-family: 'Montserrat', sans-serif;
}

h2 {
    margin: 2.5rem 0 1rem;
	font-size: 27px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    margin: 1.5rem 0 0.5rem;
	font-size: 20px;
}

#title {
	margin: 0 0 0 0;
    font-size: 45px;
    color: black;
    text-decoration: none;
}

#content ul {
	padding: 0 0 0 2rem;
    line-height: 175%;
}

#intro {
	padding: 8rem 0 0 0;
}

nav {
	margin: 0;
}

nav li :hover {
	color: lightgrey;
}

nav li a {
	color: black;
}

nav li {
	font-family: 'Montserrat', sans-serif;
    display: inline-block;
	font-size: 17px;
	margin: 0 0.5rem 0 0;
}

#canvas {
    border: solid;
}

#portrait {
	width: 12rem;
    height: 12rem;
    border-radius: 1rem;
	float: right;
	margin: 0 0 0 1rem;
}

#content ul {
	padding: 0 0 0 2rem;
    line-height: 175%;
}

#end {
    margin: 3rem;
    padding: 3rem;
}